{% extends 'base.html' %}
{% block content %}
<div class="bg-dark p-3">
    <div class="row mx-0 py-3 bg-light">
        <div class="col-sm-7">
            <div class="card mb-3 rounded-3" style="z-index:1;">
                <div class="card-body">
                    <ul class="nav nav-pills " id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Timber nails</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Metal toools</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">Roofing</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row row-cols-1 row-cols-md-4 g-4   clsscroll">
                        {% for product in products%}
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top" src="{{product.image.url}}" style="height: 100px;">
                                <div class=" card-body">
                                    <h6 class=" card-title">{{product.name}}</h6>
                                    <h6 class="shop-item-price">{{product.price}}</h6>
                                    <button class=" btn btn-primary btn-sm shop-item-button">Add</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>

                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row row-cols-1 row-cols-md-4 g-4 clsscroll">
                        <div class="col">
                            <div class="card ">
                                <img class="card-img-top" src="./images /pipeconnectors.jpg">
                                <div class=" card-body">
                                    <h6 class="card-title">Spanner </h6>
                                    <h6 class="shop-item-price">Ksh.100</h6>
                                    <button class=" btn btn-primary shop-item-button btn-sm">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card ">
                                <img class="card-img-top" src="./images /pipeconnectors.jpg">
                                <div class=" card-body">
                                    <h6 class="card-title">Screw driver </h6>
                                    <h6 class="shop-item-price">Ksh.50</h6>
                                    <button class=" btn btn-primary shop-item-button btn-sm">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card ">
                                <img class="card-img-top" src="./images /pipeconnectors.jpg">
                                <div class=" card-body">
                                    <h6 class=" card-title">5 inch nails </h6>
                                    <h6 class="shop-item-price">Ksh.140</h6>
                                    <button class=" btn btn-primary shop-item-button btn-sm">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    Ironsheet</div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5>Order</h5>
                    <hr>
                    <section class="container content-section">
                        <div class="cart-row">
                            <span class="cart-item cart-header cart-column" style="width: 750px;">Item</span>
                            <span class="cart-price cart-header cart-column">Price</span>
                            <span class="cart-quantity cart-header cart-column">quantity</span>
                            <span class="cart-price cart-header cart-column">Total</span>
                        </div>
                        <div class="cart-items clsscroll2">
                            <div class="cart-items">
                                {% for item in cartitems %}
                                <div class="cart-row">
                                    <div class="cart-item cart-column">
                                        <img class="cart-item-image" src="{{item.product.image.url}}" width="100"
                                            height="100">
                                        <span class="cart-item-title "style="width: 150px;">{{item.product.name}}</span>
                                    </div>
                                    <span class="cart-price cart-column">{{item.product.price}}</span>
                                    <div class="cart-quantity cart-column">
                                        <input class="cart-quantity-input" type="number" value="{{item.quantity}}">
                                    </div>
                                    <div class="cart-quantity cart-column">
                                        <span class="cart-item-title">100</span>
                                    </div>
                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cart-total">
                            <strong class="cart-total-title">Total</strong>
                            <span class="cart-total-price">Ksh.0</span><br>
                        </div>
                        <button type="button" class="btn btn-success btn-purch" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">CASH</button>

                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#creditModal">CREDIT</button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Cash purcase modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-secondary">
                <h5 class="modal-title text-white" id="exampleModalLabel">Payment by Cash</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <label class="btn-lg font-weight-bold text-dark ">Total Expenditure</label> <span
                        id="totalExpenditure" class="btn-lg font-weight-bold text-dark totalExpenditure">Ksh.0</span>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="form-control form-control-lg  amountPaid" id="price" type="number"
                        placeholder="Amount paid" style="width:100%;">
                </div> <br>
                <div class="d-flex justify-content-center">
                    <label class="btn-lg font-weight-bold text-dark ">Balance</label>
                    <input type="text" id="total" disabled>
                </div>
                <div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-complete" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Credit Modal -->
<div class="modal fade" id="creditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-secondary">
                <h5 class="modal-title text-white" id="exampleModalLabel">Credits</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <label class="btn-lg font-weight-bold text-dark">Total Credit</label> <span
                        class="btn-lg font-weight-bold text-dark">Ksh. 0</span>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Customer name"
                    style="width:100%;"><br>
                <input type="number" class="form-control form-control-lg" placeholder="Phone number"
                    style="width:100%"><br>
                <label class="btn-lg font-weight-bold text-dark">Balance</label>
                <span class="btn-lg font-weight-bold text-dark">Ksh. 0</span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}